# Node
node_modules/
.env
.env.*


# Vite/CRA build
dist/
build/

# Mac / Windows
.DS_Store
Thumbs.db

# Firebase Admin SDK サービスアカウント鍵ファイル
backend/serviceAccountKey.json
encoded.txt
full_base64_key.txt

README.md
